.mainLogo {
  font-size: clamp(28px, 1vw, 36px);
}
.arrow {
  width: 52px;
  height: 52px;
  border-radius: 40px;
  border: 2px solid black;
}
#impuls-appen {
  transition: 0.3s;
}

#impuls-appen:active {
  transform: scale(1.02);
}
button:active,
button:hover {
  transform: scale(0.98);
}

#click {
  min-height: 42px;
  display: flex;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}
.numAni {
  animation: ani 0.7s linear;
}

@keyframes ani {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

#toBeCharged {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  min-height: 50px;
}

.arrow {
  transition: 0.2s;
}
.arrow:hover {
  transform: scale(1.05);
}
.account-card {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 0.5rem;
}
.container {
  display: flex;
  flex-direction: column;
}
.account-change-container {
  flex-direction: column;
  margin-top: 150px;
  background-color: white;
  border-radius: 20px;
  min-height: 350px;
  width: 90%;
}
.saving-target {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.3rem;
  -moz-appearance: textfield;
  text-align: center;
}
.saving-target-button {
  margin-top: 1rem;
  background-color: black !important;
  color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 5px;
  height: 2.3rem;
  padding-inline: 0.3rem;
  align-self: center;
}
.button-container {
  display: flex;
  gap: 1rem;
}
#saving-target-lock {
  border: 2px solid black;
  border-radius: 5px;
}
.input-area {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
b {
  font-size: clamp(24px, 1vw, 28px);
}
.counter-input {
  font-size: 2rem;
  width: fit-content;
  -moz-appearance: textfield;
  text-align: center;
  max-width: 8rem;
}
.counter-btn {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 2px solid black;
}
.return {
  align-self: flex-start;
  padding: 1rem;
}
#search {
  width: 100%;
  margin-block: 1rem;
  padding: 1rem;
  border: 2px solid rgba(146, 146, 146, 0.585);
  font-size: 1.3rem;
  border-radius: 5px;
}
#search:focus {
  outline: 2px solid black;
}
section:nth-of-type(1) {
  margin-top: 2rem;
}
section:last-of-type {
  margin-bottom: 4rem;
}
main {
  gap: 3rem;
}
.product-container {
  cursor: pointer;
  z-index: 3;
  background-color: white;
  border: 2px solid black;
}
.product-container:hover {
  background-color: rgb(248, 248, 248);
}
#products {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: -0.9rem;
}
.top-container {
  max-width: 60%;
}
